html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgb(35,35,35);
    max-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    -webkit-user-select:none;
}